@charset "UTF-8";
/* ===============================
	Main Style
	Author: Sheng
	最後更新日期：2015 / 02 / 22
================================*/
#main {
  padding: 35px 180px;
  width: 100%;
  height: 100%;
  background-color: #333333; }
  #main #me .me-pic {
    width: 220px;
    height: 220px;
    background-size: cover;
    background-position: center center;
    border: 6px solid #4BBCD2;
    background-color: #fff; }
