// *************************************
//
//   StyleSheet
//
// *************************************

// -------------------------------------
//  Compass
// -------------------------------------
	@import "compass/reset";
	@import "compass";

// ----------------------------------------
//  Global (請勿修改 Global底下的 sass 檔案)
// ----------------------------------------
	// 預設字體大小
	$base-font-size: 16px;
	$base-line-height: 24px;
	@include establish-baseline();

	// 文件樣式
	* {
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	}

	html, body {
		height: 100%;
	}

	body {
		background-color: rgba(#DDD,.6);
	}

	input, textarea {
		&:focus {
			outline: none;
		}
	}

	a {
		text-decoration: none;
	}

// -------------------------------------
//  Variables
// -------------------------------------
	@import "variables/_colors";
	@import "variables/_fonts";
	@import "variables/_zindex";

// -------------------------------------
//  Mixin
// -------------------------------------
	@import "mixin/_mixin_position";
	@import "mixin/_mixin_text";

// -------------------------------------
//  Extend
// -------------------------------------


// ----------------------------------------
// ----------------------------------------
//  Special (這裏以下的檔案都是以Global檔案為基礎向上增加)
// ----------------------------------------
// ----------------------------------------

// -------------------------------------
//  Variables
// -------------------------------------

// -------------------------------------
//  Components
// -------------------------------------

// -------------------------------------
//  Partials
// -------------------------------------

@import "partials/main";

// -------------------------------------
//  Rwd
// -------------------------------------






[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}