/* ===============================
	Variable Color Palette
	Author: Sheng
	最後更新日期：2015 / 02 / 13
================================*/

.color-E14A27 {
    background-color: #E14A27;
}
.color-F66F00 {
    background-color: #F66F00;
}
.color-FC7C00 {
    background-color: #FC7C00;
}
.color-15A5FF {
    background-color: #15A5FF;
}
.color-38CFFF {
    background-color: #38CFFF;
}
.color-E86D53 {
    background-color: #E86D53;
}
.color-F7A527 {
    background-color: #F7A527;
}
.color-FBB819 {
    background-color: #FBB819;
}
.color-4BBCD2 {
    background-color: #4BBCD2;
}
.color-86D8FF {
    background-color: #86D8FF;
}
.color-333333 {
    background-color: #333333;
}
.color-6A6A6A {
    background-color: #6A6A6A;
}
.color-9b9b9b {
    background-color: #9b9b9b;
}
.color-FFFFFF {
    background-color: #FFFFFF;
}
